@import url('httpss://fonts.googleapis.com/css?family=Roboto');
/* form header */

body {
    background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
}

.form-header h1 {
    font-size: 30px;
    text-align:center;
    color:#666;
    padding:20px 0;
    border-bottom:1px solid #cccccc;
}

/*
.form-body {
        font-size: 17px;
        box-sizing: border-box;
        width: 100%;
        height: 34px;
        padding-left: 10px;
        padding-right: 10px;
        color: #333333;
        text-align: left;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        background: white;
        outline: none;
}*/

.formView {
    font-family: "Roboto", sans-serif;
    width:650px;
    margin:30px auto;
    background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
    border-radius: 10px;
}

.horizontal-group .right{
    float:right;
    width:49%;
}

 a {
    color:#1BBA93;
    font-size: 17px;
    font-weight: bold;
	text-decoration: none;
 }

 /*Post_Society_Registration_By_User.htm*/

 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    position: fixed;
    width: 270px;
    height: 100%;
    left: 0;
    background: #1b1b1b;
    transition: left 0.4s ease;
    overflow-y: auto;
}
.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}
nav ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 40px;
    border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul ul li{
    line-height: 10px;
    border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li a:hover{
    background: #1e1e1e;
}
nav ul li.active a{
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}
nav ul ul{
    position: static;
    display: none;
}
nav ul ul li{
   /* line-height: 42px;*/
   padding: 15px;
    border-top: none;
}
nav ul ul li a{
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 40px;
}
 nav ul ul ul li a{
    font-size: 15px;
    color: #e6e6e6;
    padding-left: 40px;
}
nav ul ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
nav ul ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a:hover span{
    transform: translateY(-50%) rotate(-180deg);
}
nav ul ul li a:hover span{
    transform: translateY(-50%) rotate(-180deg);
}
nav ul .feat-show.show{
    display: block;
}
nav ul ul .feat-show1.show2{
    display: block;
}
nav ul ul .feat-show2.show3{
    display: block;
}
nav ul .serv-show.show1{
    display: block;
}
nav ul .serv-show3.show4{
    display: block;
}

nav ul .serv-show32.show42{
    display: block;
}
nav ul .serv-show33.show43{
    display: block;
}
nav ul .serv-show4.show5{
    display: block;
}
nav ul .sa-show.show6{
    display: block;
}
nav ul ul .sa-show1.show7{
    display: block;
}
nav ul .serv-show1.show11{
    display: block;
}
nav ul .serv-show31.show41{
    display: block;
}
nav ul .serv-show41.show51{
    display: block;
}
nav ul .serv-show411.show511{
    display: block;
}
nav ul .serv-show4111.show5111{
    display: block;
}
nav ul .serv-show41111.show51111{
    display: block;
}
nav ul ul li a:hover{
    color: cyan!important;
    background: #1e1e1e!important;
}
nav ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}
  .color-box {
    /*border: 1px solid green ;
    position: absolute;
               /  text-align: justify;
                /*  background-color: brown;
                   word-wrap: break-word;
                 margin: 10px 20px auto;
    /* top, left, bottom
    padding: 10px 20px 30px;
    float: left;         */
    text-align: justify;
        max-width: 500px;
    height: 100px;
    background-color: powderblue;

}


/*Society_Approval_Response_from_Society_Admin.htm*/

/*body {
    background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
}*/

.signup-form {
    font-family: "Roboto", sans-serif;
    width:650px;
    margin:30px auto;
    background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
    border-radius: 10px;
}

.form-header  {
    background-color: #EFF0F1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-header h1 {
    font-size: 30px;
    text-align:center;
    color:#666;
    padding:20px 0;
    border-bottom:1px solid #cccccc;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
    padding:10px 40px;
    color:#666;
}

.form-group{
    margin-bottom:20px;
}

.form-body .label-title {
    color:#1BBA93;
    font-size: 17px;
    font-weight: bold;
}

.form-body .form-input {
        font-size: 17px;
        box-sizing: border-box;
        width: 100%;
        height: 34px;
        padding-left: 10px;
        padding-right: 10px;
        color: #333333;
        text-align: left;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        background: white;
        outline: none;
}



.horizontal-group .left{
    float:left;
    width:49%;
}

.horizontal-group .right{
    float:right;
    width:49%;
}

input[type="file"] {
 outline: none;
 cursor:pointer;
 font-size: 17px;
}

#range-label {
 width:15%;
 padding:5px;
 background-color: #1BBA93;
 color:white;
 border-radius: 5px;
 font-size: 17px;
 position: relative;
 top:-8px;
}


::-webkit-input-placeholder {
 color:#d9d9d9;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.form-footer {
 clear:both;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.signup-form .form-footer  {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:10px 40px;
  text-align: center;
  border-top: 1px solid #cccccc;
}

.form-footer span {
  float:left;
  margin-top: 10px;
  color:#999;
  font-style: italic;
  font-weight: thin;
}

.btn {
   display:inline-block;
   padding:10px 20px;
   background-color: #1BBA93;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#bcf5e7;
   cursor:pointer;
}

.btn:hover {
  background-color: #169c7b;
  color:white;
}

 .color-box-info {
    border: 1px solid green ;
    text-align: justify;
     max-width: 500px;
    height: 450px;
	background:white;
  }
  
  #box8 {
            padding: 10px;
            flex-grow: 1;
            border: solid 1px black
        }
		
/****************************************
        VERSION ONE
        
        
        .content{
            display: grid;
            max-width: 90%;
            margin: 1rem auto;
            border: 1px solid red;
            grid-template-areas: "A A B B C C"
                                "D D D E E E";
            grid-column-gap: 2rem;
        }
        .content div{
            padding: 1rem;
        }
        .A{
            grid-area: A;
            background-color: hsl(60, 30%, 90%);
        }
        .B{
            grid-area: B;
            background-color: hsl(120, 30%, 90%);
        }
                
        .D{
            grid-area: D;
            background-color: hsl(240, 30%, 90%);
        }
        
        ****************************************/
        
        /****************************************
        VERSION TWO
        ****************************************/
        
        .content{
            display: grid;
            max-width: 90%;
            margin: 1rem auto;
            border: 1px solid red;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: auto;
            grid-column-gap: 2rem;
        }
        .content div{
            padding: 1rem;
        }
        .A{
            grid-column: 1 / span 4;
            background-color: hsl(60, 30%, 90%);
        }
        .B{
            grid-column: 5 / span 3;
           
        }  
        .D{
            grid-column: 1 / span 6;
            background-color: hsl(240, 30%, 90%);
        }
.color-box1 {
    /*border: 1px solid green ;
    position: absolute;
               /  text-align: justify;
                /*  background-color: brown;
                   word-wrap: break-word;
                 margin: 10px 20px auto;
    /* top, left, bottom
    padding: 10px 20px 30px;
    float: left;         */
    max-width: 615px;
    height: auto;
    background-color: powderblue;	
}	
 body,	
html {
            height: 100%;
            width: 100%;
            overflow: auto;
        }

     /*   .box-wrapper {
            height: 40vh;
            width: 70vw;
            display: flex;
            flex-direction: column;

        }   */

        #box1 {
            padding: 10px;
            height: 40px;
            line-height: 30px;
            border: solid 1px green
        }

        #box2 {
            height: 15px;
            padding: 8px;
            border: solid 1px blue
        }

        #box3 {
            padding: 10px;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            border: solid 1px green
        }

        #box4 {
            flex-grow: ;
            padding: 10px;
            border: solid 1px orange
        }

        .middle-column {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

        }

        .middle-column div {
            padding: 10px;
            flex-grow: 1;
            margin: 0 8px;
            border: solid 1px red;
        }

        .middle-column div+div {
            padding: 10px;
            margin-top: 8px
        }

        #box8 {
            padding: 10px;
            flex-grow: 1;
            border: solid 1px black
        }
         .btn1 {
   display:inline-block;
   padding:10px 20px;
   background-color: #1BBA93;
   font-size:10px;
   border:none;
   border-radius:5px;
   color:#bcf5e7;
   cursor:pointer;
}
.btn1:hover {
  background-color: #169c7b;
  color:white;
}
.highlightme { background-color:#FFFF00; }
